# =====================
# Force correct language detection
# =====================

# Python code
*.py linguist-language=Python
*.py linguist-detectable=true

# Jupyter notebooks
*.ipynb linguist-language=Jupyter\ Notebook
*.ipynb linguist-detectable=true

# Hide non-core languages
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.xml linguist-detectable=false
*.java linguist-detectable=false